/* Más de 400px de ancho */
@media screen and (min-width: 401px) {
  body {
    background-color: rgb(40, 60, 80);
  }
}

/* Menos de 800px */
@media screen and (max-width: 799px) {
  h1 {
    text-align: center;
  }
}

/* Pantalla horizontal */
@media screen and (orientation: landscape) {
  article {
    max-width: 50ch;
  }
}

/* Alto mínimo de 200px */
@media screen and (min-height: 200px) {
  h1 {
    background-color: #345;
  }
}

/* Impresión */
@media print {
  p {
    font-family: serif;
  }
}

/* Preferencia colores claros */
@media (prefers-color-scheme: light) {
  body,
  h1 {
    color: #111;
    background-color: #DDD;
  }
}

/* Pantalla sin hover */
@media screen and (hover: none) {
  a {
    background-color: #212;
    padding: 2px 5px;
  }
}

/* Entre 800px y 900px */
@media screen and (min-width: 800px) and (max-width: 899px) {
  img {
    display: none;
  }
}

/* Entre 200px y 400px */
@media screen and (min-width: 200px) and (max-width: 400px) {
  img {
    height: 400px;
    object-fit: cover;
  }
}

/* Device Pixel Ratio mayor a 2 */
@media screen and (min-resolution: 2.1dppx) {
  article {
    background-color: #667;
  }
}
